.GraphPage {
    /* display: flex; */
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.GraphContainer {
    position: relative;
    padding: 1em;
    padding-bottom: 200px;
    /* min-block-size: 200vh; */
    min-height: 8vh;
    border-radius: 2em;
    justify-content: center;
    /* overflow: auto; */
}

.totalDespesas {
    padding: 1em;
    font-size: 1em;
    font-weight: 500;
    /* color: #ffffff; */
    border-radius: 1em;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-self: center;
    /* box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.1); */
    z-index: 100;
    /* background-color: rgba(255, 255, 255, 0.5); */
}

.SearchContainer {
    width: 100%;
    display: auto;
    justify-content: center;
    margin-bottom: 0em;
    width: auto;
    min-width: 300px;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    border-radius: 2em;
    /* flex-direction: column; */
    /* background-color: rgba(255, 255, 255, 0.3); */

}

.Graph {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 40vh;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 2em;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.1);
    /* overflow: auto; */
}

.sigma-tooltip {
    display: none;
    position: absolute;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
}

.GraphSearchFornecedor {
    padding: auto;
}


.GraphSearch-input,
.GraphSearch-button {
    height: 40px;
}

.GraphSearch-input {
    flex: 1;
    margin-right: 0.5em;
    padding: 0.5em;
    border: none;
    margin-bottom: 1em;
    /* border-radius: 2em; */
    /* box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.1); */
}

.GraphSearch-button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 2em;
    cursor: pointer;
    padding: 0 1em;
    transition: background-color 0.3s;
}

.GraphSearch-button:hover {
    background-color: #0056b3;
}

.GraphSearch-select {
    margin-left: auto;
    padding: 1em 2em;
    font-size: auto;
    border: 0.1em solid #cccccc;
    border-radius: auto;
}

.NodeDetailsContainer {
    position: absolute;
    top: 0;
    right: 0;
    width: 18vh;
    background-color: transparent;
    padding: auto;
    z-index: 100;
    border-radius: 3em;
    align-items: center;
}

@media (min-width: 768px) {
    .GraphContainer {
        flex-direction: row;
        justify-content: space-around;
    }
}

@media (max-width: 768px) {
    .NodeDetailsContainer {
        flex-direction: row;
        justify-content: space-between;
    }

    .NodeDetails,
    .ExpenseDetails {
        max-width: none;
        font-size: 0.8rem;
    }

    .NodeDetails-title,
    .ExpenseDetails-title {
        font-size: 1rem;
    }
}

::-webkit-scrollbar {
    width: 1vh;
}

::-webkit-scrollbar-track {
    background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    background: #e0c3c1;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}