.GraphContainer {
    position: relative;
    padding: 2em;
    padding-bottom: 4rem;
    border-radius: 2em;
    min-width: 1em;
    min-height: 1em;
}

.Graph {
    position: relative;
    width: 100%;
    height: 60vh;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 2em;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.1);
    padding-bottom: 0;
}

.sigma-tooltip {
    display: none;
    position: absolute;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 5px;
    font-size: 12px;
}

.GraphSearch {
    position: absolute;
    top: 0;
    z-index: 10;
    padding: 0.2%;
    display: flex;
    align-items: center;
    /* Add display flex to align input and button properly */
    width: 100%;
}

.GraphSearchFornecedor {
    position: absolute;
    z-index: 10;
    /* top: 0; */
    /* left: 53.5em; */
    padding: 0.2%;
    display: flex;
    align-items: center;
    /* Add display flex to align input and button properly */
    width: 100%;
}

.GraphCard {
    position: absolute;
    /* Alterado de auto para absolute */
    /* Ajuste este valor de acordo com suas necessidades */
    right: 1em;
    z-index: 1000;
    width: auto;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 1em 2em rgba(0, 0, 0, 0.1);
}

.GraphSearch-input {
    flex: auto;
    margin-right: 0.1em;
    padding: 0.2em 0.1em;
    border: 0.1em solid #cccccc;
    border-radius: 2em;
    font-size: 1em;
    width: 100%;
    max-width: 17em;
}

.GraphSearch-button {
    background-color: #007bff;
    /* Set button background color */
    color: #ffffff;
    padding: auto;
    border: none;
    border-radius: 1em;
    cursor: pointer;
    font-size: 1em;
    /* Corrigindo valor da font-size */
    transition: background-color 1s;
    width: 100%;
    max-width: 4em;
}

.GraphSearch-button:hover {
    background-color: #0056b3;
    /* Change background color on hover */
}

.GraphSearch-select {
    margin-left: auto;
    padding: 1em 2em;
    font-size: auto;
    border: 0.1em solid #cccccc;
    border-radius: auto;
}

.NodeDetailsContainer {
    position: absolute;
    top: -20px;
    right: 0;
    width: 8rem;
    background-color: transparent;
    padding: auto;
    z-index: 100;
    border-radius: 2em;
}

.loading-gif {
    size: 30em;
    padding: 12%;
    background-color: transparent;
    /* align-self: center; */
    position: absolute;
    /* Center loading gif on the node details container */
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
    .GraphContainer {
        flex-direction: row;
        justify-content: space-around;
    }
}

@media (max-width: 768px) {
    .NodeDetailsContainer {
        flex-direction: row;
        justify-content: space-between;
    }

    .NodeDetails,
    .ExpenseDetails {
        max-width: none;
    }

    .NodeDetails-title,
    .ExpenseDetails-title {
        font-size: 1rem;
    }
}

::-webkit-scrollbar {
    width: 1vh;
}

::-webkit-scrollbar-track {
    background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    background: #e0c3c1;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}