.ExpenseDetails {
  width: 300px;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #fff;
  position: absolute;
  right: 10px;
  top: 10px;
  overflow: auto;
  max-height: 80vh;
}

.ExpenseDetails h2 {
  margin-top: 0;
}

.ExpenseDetails p {
  margin-bottom: 10px;
}
