.Home {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    /* Increase padding for more space */
    min-height: 100vh;
        /* Use the full viewport height */
    /* Use the full viewport height */
    z-index: 1;
}

.BackgroundImage {
    content: "";
    min-height: 190dvh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.25;
    z-index: -1;
    transition: background-image 5s ease-in-out;
}

.Home-title {
    font-size: 2em;
        /* Adjust to the proper size */
        font-weight: 500;
        /* Adjust to a good readable weight */
    color: #343a40;
    margin-bottom: 2em;
        /* Increase margin for more space */
        text-transform: uppercase;
        /* Set text to uppercase for a modern look */
    letter-spacing: 2px;
    padding-top: 1em;
    z-index: 1;
}

.Form {
    width: 100%;
        /* Set to the full width */
        max-width: 600px;
        /* Adjust to a proper size */
        margin-bottom: 2em;
        /* Increase margin for more space */
    z-index: 1;
    padding-bottom: 1em;
}

.Button {
    background-color: #343a40;
        /* Change button color to match theme */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
        /* Increase padding for larger button */
    color: #ffffff;
    font-weight: 500;
        /* Adjust to a good readable weight */
    transition: background-color 0.3s ease;
    z-index: 1;
    margin-top: 2em;
        /* Increase margin for more space */
}

.Button:hover {
    background-color: #23272b;
        /* Slightly darker shade for hover */
    cursor: pointer;
    z-index: 1;
}

.Button:active {
    background-color: #131516;
        /* Even darker shade for active */
    z-index: 1;
}

.Form-button {
    display: flex;
    justify-content: center;
    z-index: 1;
    text-align: center;
    margin-top: 1em;
        /* Increase margin for more space */
}