/* src/pages/Home/Home.css */
.Home {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    min-height: 120vh; /* Ensure the container takes up the full viewport height */
    z-index: 1;
}

.Home::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../../../public/charge_cota_1.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.1; /* Adjust the opacity to make the image semi-transparent */
    z-index: -1;
}

.Home-title {
    font-size: 48px; 
    font-weight: 700; 
    color: #343a40; 
    margin-bottom: 30px;
    text-transform: uppercase; 
    letter-spacing: 2px; 
    z-index: 1; /* Ensure the title is in front of the background image */
}

.Form {
    width: 100%;
    max-width: 600px; 
    margin-bottom: 40px;
    z-index: 1; /* Ensure the form is in front of the background image */
}

.Button {
    background-color: #007bff; /* Set button background color */
    border: none;
    border-radius: 5px;
    padding: 10px 20px; /* Add padding to the button */
    color: #ffffff;
    font-weight: 600;
    transition: background-color 0.3s ease; /* Add a transition for hover effect */
    z-index: 1; /* Ensure the button is in front of the background image */
    margin-top: 10px;
}

.Button:hover {
    background-color: #0056b3; /* Change background color on hover */
    cursor: pointer;
    z-index: 1; /* Ensure the button is in front of the background image */
}

.Button:active {
    background-color: #004085; /* Change background color when active */
    z-index: 1; /* Ensure the button is in front of the background image */
}

.Form-button {
    display: flex;
    justify-content: center;
    z-index: 1; /* Ensure the button is in front of the background image */
    margin-top: 14px;
    margin-left: 0px;
    margin-right: auto;
}
