.chart-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chart {
    flex: 1;
}

.recharts-legend-item {
    font-size: 0.7rem;
    font-family: 'Roboto', Arial, sans-serif;
}

.legend-container {
    flex: 1;
    overflow-y: auto;
    max-height: 400px;
}

.legend-container .recharts-legend-item-text {
    font-size: 15rem;
}

.recharts-label {
    font-size: 15rem !important;
}