body {
  font-family: 'Roboto', Arial, sans-serif;
  color: #333;
}

.container-fluid {
  padding: 0px;
}

.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: auto;
}

.navbar-footer {
  height: 1px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-brand-home {
  font-size: 1.2rem;
  /* Ajuste o valor de acordo com o que você quer */
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.navbar-brand-home:hover {
  color: #ff5722 !important;
}