/* Mobile-first CSS */
.NodeDetailsContainer {
  align-items: center;
  margin-top: 2rem;
  /* margin-left: 12em; */
  margin-bottom: auto;
  margin-right: 2.5em;
  font-size: small;
}

.NodeDetails,
.ExpenseDetails {
  max-width: 100%;
  width: 100%;
  text-align: justify;
  min-width: 110px;
  margin-bottom: 1rem;
}

.NodeDetails-image {
  height: auto;
  object-fit: cover;
  width: auto; /* garante que a imagem se ajuste ao tamanho do card no mobile */
  margin-bottom: 1rem;
}

.NodeDetails-title,
.ExpenseDetails-title {
  font-weight: bold;
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  border: none;
  background-color: transparent;
}
/* Estilos para telas maiores */
@media (min-width: 768px) {
  .NodeDetailsContainer {
    flex-direction: row;
    justify-content: space-between;
  }

  .NodeDetails,
  .ExpenseDetails {
    max-width: auto;
    height: auto;
  }

  .NodeDetails-title,
  .ExpenseDetails-title {
    font-size: 1em; /* um pouco maior em telas maiores */
  }
}
