.NodeDetailsContainer {
  position: absolute;
  top: 0;
  right: 0;
  width: 18vh;
  background-color: transparent;
  padding: auto;
  z-index: 100;
  border-radius: 3em;
  align-items: center;
}

.GraphCardWrapper {
  position: absolute;
  /* left: 0.5rem; */
  /* right: 2vh; */
  top: 0;
  z-index: 1000;
  width: auto;
  background-color: #ffffff;
  box-shadow: 0 1em 2em rgba(0, 0, 0, 0.1);
}

.NodeDetails,
.ExpenseDetails {
  width: 10rem;
  left: -1rem;
  text-align: center;
  /* min-width: 10vh; */
  margin-bottom: 0.1rem;
  position: absolute;
}

.NodeDetails-image {
  object-fit: cover;
  width: auto;
  /* garante que a imagem se ajuste ao tamanho do card no mobile */
  /* margin-bottom: 0.1rem; */
}

.closeButton {
  position: absolute;
  border: none;
  background-color: transparent;
}

/* Diminuir tamanho do card de acordo com o tamanho da tela */
@media (max-width: 768px) {
  .NodeDetailsContainer {
    /* width: 100%; */
    font-size: 1.2rem;
    width: 18vh;
  }

  .GraphCardWrapper {
    width: 60%;
    padding: 0;
    margin-left: 4rem;
  }

  .NodeDetails-title,
  .ExpenseDetails-title {
    font-size: 1.2rem;
  }

  .NodeDetails,
  .ExpenseDetails {
    width: 100%;
    font-size: 1.2rem;
  }
}