.legendaContainer {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 1rem;
    padding: 1rem;
    scrollbar-width: thin;
    scrollbar-color: #888 #f5f5f5;
}

.legenda {
    margin-bottom: 5rem !important;
}

.title {
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #333;
    text-align: center;
}

.legendaItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.65rem;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #f5f5f5;
    width: auto;
    min-width: 120px;
}

.legendaColor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}

.valorInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    color: #555;
}

.total,
.percentual {
    font-weight: bold;
}

::-webkit-scrollbar {
    width: 1vh;
}

::-webkit-scrollbar-track {
    background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    background: #e0c3c1;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}