.EdgeDetailsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.EdgeDetails {
    max-width: 600px;
    width: 100%;
}
